
{authz_root_url, "http://localhost:5959"}.

{keyring_default, "/etc/opscode/webui_pub.pem"}.
{keyring_dir, "../../keys"}.

{heartbeat_interval, 1000 }.
{server_name, "localhost"}.
%% this should change to point to the REST API
{server_api_port, 10003}.

%% ibrowse
{default_max_sessions, 256}.
{default_max_pipeline_size, 1}.

{zmq_io_processes, 10}.
