{keyring_default, "/etc/opscode/webui_pub.pem"}.
{keyring_dir, "../../keys"}.

%% Details for the Pushy REST API from whence the config comes
{server_name, "localhost"}.
{server_api_port, 10003}.

%% ibrowse tunings
{default_max_sessions, 256}.
{default_max_pipeline_size, 1}.

%% ZeroMQ tunings
{zmq_io_processes, 10}.

%% For client creation
{org_name, 'ponyville'}.
{creator_name, 'rainbowdash'}.
{creator_path, '/srv/piab/users/rainbowdash/.chef/rainbowdash.pem'}.

{enable_fastpath, true}.
{enable_graphite, true}.
