
{authz_root_url, "http://localhost:5959"}.

{keyring_default, "/etc/opscode/webui_pub.pem"}.
{keyring_dir, "../../keys"}.

{heartbeat_interval, 1000 }.
{server_name, "localhost"}.
%% this should change to point to the REST API
{server_command_port, 10002}.
{server_heartbeat_port, 10000}.
{api_port, 10002}.
